body {
	line-height: 1.5;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

i {
	font-style: normal;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', sans-serif;
	scroll-behavior: smooth;
}

:before,
:after {
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.v-center {
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	padding: 10px 0 10px 0 !important;
	display: block;
	width: 100%;
	position: fixed;
	z-index: 999 !important;
}

.header .item-left {
	display: flex;
	flex: 15%;
	margin-left: 50px;
}

.header .logo a img {
	content: url(./../logos/hamza-wajeeh-logo-zip-file/png/logo-no-background\ white.png);
	width: 160px;
	padding: 5px 0 0 20px;
}

.header .item-center {
	margin-left: 75px;
}

.header .item-right {
	flex: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header .item-right a {
	text-decoration: none;
	/* font-size: 60px; */
	color: #555555;
	display: inline-block;
	transition: color 0.3s ease;
	margin-right: 50px;
}

.header .menu>ul>li {
	display: inline-block;
	/* line-height: 50px; */
	margin-left: 40px;
}

.header .menu>ul>li>a {
	font-size: 15px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
	position: absolute;
	z-index: 500;
	background-color: #ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
	padding: 20px 60px;
	transition: all 0.5s ease;
	margin-top: 25px;
	opacity: 0;
	visibility: hidden;
}

.header .menu>ul>li.menu-item-has-children:hover .sub-menu {
	margin-top: 15px;
	visibility: visible;
	opacity: 1;
}

@media(min-width: 992px) {
	.header .menu>ul>li.menu-item-has-children:hover .sub-menu {
		margin-top: 15px;
		visibility: visible;
		opacity: 1;
	}
}

.submenu-spacer {
	padding-bottom: 20px;
}

.header .menu>ul>li .sub-menu>ul>li {
	line-height: 1;
}

.header .menu>ul>li .sub-menu>ul>li>a {
	display: inline-block;
	padding: 10px 0;
	font-size: 12px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}

.header .menu>ul>li .single-column-menu {
	min-width: 280px;
	max-width: 350px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
	line-height: 1;
	display: block;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
	padding: 10px 0;
	display: inline-block;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu.mega-menu {
	left: 50%;
	transform: translateX(-50%);
}

.header .menu>ul>li .sub-menu.mega-menu-column-4 {
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 15px;
	background-color: #ffffff;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
	flex: 0 0 20%;
	padding: 0 0px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item {
	flex: 0 0 30%;
	padding: 0 30px 0 40px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-img-item {
	/* padding:0 40px 0 40px; */
	flex: 0 0 20%;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item .heading {
	font-size: 20px;
	color: #000000;
	font-weight: 700;
	line-height: 1;
	padding: 10px 0 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item .title {
	font-size: 14px;
	color: #016e7c;
	font-weight: 500;
	line-height: 1;
	padding: 10px 0 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item .title-detail {
	font-size: 12px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .heading {
	font-size: 20px;
	color: #000000;
	font-weight: 500;
	line-height: 1;
	padding: 10px 0 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
	font-size: 16px;
	color: #015f6b;
	font-weight: 700;
	line-height: 1;
	padding: 10px 0 10px;
	text-decoration: underline;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title-detail {
	font-size: 10px;
	color: #000000;
	font-weight: 500;
	line-height: 1;
	padding: 10px 0 0 5px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item .main-title {
	font-size: 20px;
	color: #000000;
	font-weight: 700;
	line-height: 1;
	padding: 10px 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-main-item .main-desc {
	font-size: 16px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
	text-align: center;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-img-item img {
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a {
	/* color:#ffffff; */
}

.mobile-menu-head,
.mobile-menu-trigger {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {

	.header .item-center {
		order: 3;
		flex: 0 0 100%;
	}

	.header .item-left,
	.header .item-right {
		flex: 0 0 auto;
	}

	.v-center {
		justify-content: space-between;
	}


}

.headerbutton {
	background-color: white;
	color: #1d485a;
	padding: 10px 17px 10px 17px;
	font-weight: 600;
	border: 2px solid #1d485a;
	border-radius: 10px;
	font-size: 15px;
	text-decoration: none;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	display: block;
	width: 100%;
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100%;
	/* background-image: linear-gradient(to right,#007585,#013036); */
	background-color: rgb(255, 255, 255);
	padding: 10px 0 0 0;
	border-bottom: 1px solid black;
}

.sticky .open-main-nav {
	color: #013036;
}

.sticky .main-nav .is-open{
	color: white;
}

.sticky .logo a img {
		content: url(./../logos/hamza-wajeeh-logo-zip-file/png/logo-no-background.png);
}

.sticky .menu>ul>li>a {
	color: #122b32;
}

.sticky .headerbutton {
	background-color: #1d485a;
	color: white;
	border: 2px solid #1d485a;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
	padding-top: 102px;
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0px !important;
	}

	.row {
		display: flex !important;
		flex-wrap: nowrap !important;
	}

	.header .logo a img {
		content: url(./../logos/hamza-wajeeh-logo-zip-file/png/logo-no-background\ white.png);
		width: 140px;
		padding: 10px 0 0 20px;
	}

	.sticky .logo a img {
		content: url(./../logos/hamza-wajeeh-logo-zip-file/png/logo-no-background.png);
	}

	.sticky .open-main-nav {
		color: #1d485a;
	}

	.sticky .burger-text{
		color: #1d485a;
	}

	.sticky .burger {
		background: #1d485a;
	}

	.sticky .burger:after{
		background-color: #1d485a;
	}
	.sticky .burger:before {
		background: #1d485a;
	}

	.sticky .is-open .burger{
		background: #fff;
	}

	.sticky .is-open .burger::before{
		background: #fff;
	}

	.sticky .is-open .burger::after{
		background: #fff;
	}

	.sticky .is-open .burger-text{
		color: #fff;
	}

	.header .item-right {
		display: flex !important;
		align-items: center;
		padding: 0px 10px;
		width: 40vw !important;
		/* justify-content: space-evenly; */
	}

	.header .item-right a {
		text-decoration: none;
		font-size: 20px;
		color: #ffffff;
		display: inline-block;
		transition: color 0.3s ease;
		margin-right: 0px;
	}

	.v-center {
		justify-content: flex-start;
	}

	.headerbutton {
		background-color: white;
		color: #1d485a;
		padding: 2vw 3vw;
		font-weight: 600;
		border: 2px solid #013036;
		border-radius: 10px;
		font-size: 12px;
		/* width: 70%; */
		text-decoration: none;
		margin-bottom: 5vw;
	}

	.header .item-left {
		display: flex;
		flex: 15%;
		margin-left: 0px;
	}
}

/* Main menu positionning */

.mobile_container {
	display: none;
}

.open-main-nav {
	display: none;
}

@media(max-width: 767px) {
	.main-nav {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		background: #FFF;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transition: all .375s;
	}

	.main-nav.is-open {
		opacity: 1;
		z-index: 100;
		visibility: visible;
	}

	/* Yellow band effect */
	.main-nav::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: -15px;
		overflow: visible;
		height: 100vh;
		background: #1d485a;
		transform-origin: 0 0;
		transform: skew(-14deg) translateX(-120%);
		transition: all .275s .1s;
	}

	.main-nav.is-open::before {
		transform: skew(-14deg) translateX(0);
	}

	/* Skewing effect on menu links */
	.main-nav ul {
		margin-top: 30vw;
		display: inline-flex;
		flex-direction: column;
		height: 75vh;
		/* Should be 100%, but we have a notice message :D */
		/* align-items: flex-end; */
		justify-content: center;
		transform: translateX(-18%) skew(-16deg);
	}

	.main-nav li {
		display: block;
		margin: .5rem 0;
		text-align: right;
		transform: skew(16deg);
	}

	/* Apparition effect on links */
	.main-nav a {
		opacity: 0;
		transform: translateY(-10px);
	}

	.main-nav.is-open a {
		opacity: 1;
		transform: translateY(0);
	}

	.main-nav li:nth-child(1) a {
		transition: all 275ms 175ms
	}

	.main-nav li:nth-child(2) a {
		transition: all 275ms 225ms
	}

	.main-nav li:nth-child(3) a {
		transition: all 275ms 275ms
	}

	.main-nav li:nth-child(4) a {
		transition: all 275ms 325ms
	}

	.main-nav li:nth-child(5) a {
		transition: all 275ms 375ms
	}


	/* Decoration */
	.main-nav ul,
	.main-nav li {
		list-style: none;
		padding: 0;
	}

	.main-nav a {
		display: block;
		padding: 12px 0;
		color: #ffffff;
		font-size: 2.4em;
		text-decoration: none;
		font-weight: bold;
	}

	/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
	.open-main-nav {
		display: inline;
		position: absolute;
		padding-top: 20px;
		right: 15px;
		z-index: 1000;
		background: none;
		border: 0;
		cursor: pointer;
	}

	.open-main-nav:focus {
		outline: none;
	}

	.burger {
		position: relative;
		display: block;
		width: 28px;
		height: 4px;
		margin: 0 auto;
		background: #ffffff;
		transform: skew(5deg);
		transition: all .275s;
	}

	.burger:after,
	.burger:before {
		content: '';
		display: block;
		height: 100%;
		background: #ffffff;
		transition: all .275s;
	}

	.burger:after {
		transform: translateY(-12px) translateX(-2px) skew(-20deg);
	}

	.burger:before {
		transform: translateY(-16px) skew(-10deg);
	}

	/* Toggle State part */
	.is-open .burger {
		transform: skew(5deg) translateY(-8px) rotate(-45deg);
	}

	.is-open .burger:before {
		transform: translateY(0px) skew(-10deg) rotate(75deg);
	}

	.is-open .burger:after {
		transform: translateY(-12px) translateX(10px) skew(-20deg);
		opacity: 0;
	}

	/* MENU Text part */

	.burger-text {
		display: block;
		font-size: .675rem;
		letter-spacing: .05em;
		margin-top: .5em;
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
	}

	.device {
		position: relative;
		width: 345px;
		height: 600px;
		background: #FFF;
		border: 1px solid #EEE;
		border-radius: 3px;
		box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
	}

	.mobile_container {
		display: contents;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		background: linear-gradient(to bottom, #eee, #ddd);
	}

	/* Slow motion button */
	[id="slowmo"] {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 10px;
		border: 0;
		font-size: 1rem;
		background: #FEDC2A;
		color: #5A3B5D;
		font-weight: bold;
		cursor: pointer;
		transition: all .275s;
	}

	[id="slowmo"] span {
		display: block;
		font-weight: normal;
	}

	[id="slowmo"]:hover,
	[id="slowmo"]:focus {
		background: #5A3B5D;
		color: #FEDC2A;
	}

	[id="slowmo"].is-slowmo span:after {
		content: 'Activated';
		display: block;
		font-weight: bold;
	}

	/* When slowmotion is activated */

	.is-slowmo+.device .open-main-nav .burger,
	.is-slowmo+.device .open-main-nav .burger:before,
	.is-slowmo+.device .open-main-nav .burger:after,
	.is-slowmo+.device .main-nav,
	.is-slowmo+.device .main-nav::before,
	.is-slowmo+.device .main-nav a {
		transition-duration: 3s;
	}

	.is-slowmo+.device .main-nav li:nth-child(1) a {
		transition-delay: 1750ms
	}

	.is-slowmo+.device .main-nav li:nth-child(2) a {
		transition-delay: 2250ms
	}

	.is-slowmo+.device .main-nav li:nth-child(3) a {
		transition-delay: 2750ms
	}

	.is-slowmo+.device .main-nav li:nth-child(4) a {
		transition-delay: 3250ms
	}

	.is-slowmo+.device .main-nav li:nth-child(5) a {
		transition-delay: 3750ms
	}

	/* Notice */
	.notice {
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		padding: 20px;
		background: #F2F2F2;
		color: #5A3B5D;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		z-index: 100;
		text-align: center;
	}

	.notice strong {
		font-weight: 700;
	}

	.notice a {
		padding: 2px 3px;
		background: #FEDC2A;
		text-decoration: none;
	}
}